/* ESTILOS GENERALES */

* {
    font-family: 'Kaisei Tokumin', serif;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

main {
    background-color: rgb(34, 34, 82);
}

html {
    background-color: rgb(34, 34, 82);
}

/* ESTILOS BARRA DE NAVEGACIÓN */
 
nav {
    background-color: #333;
    color: white;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 999;
    position: fixed;
    padding-top: 15px;
}

nav .enlace {
    display: flex;
    align-items: center;
    margin-right: auto; /* Alinea la imagen a la izquierda del todo */
    padding-left: 20px; /* Ajusta el espacio entre la imagen y los elementos de la lista */
    width: 14%;
}

nav .ul1 {
    display: flex;
    align-items: center;
}
  
nav .ul1 li {
    display: inline-block;
    margin-right: 60px;
}

nav .ul1 li a {
    color: white;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
}
  
nav .ul1 li a.active, nav .ul1 li a:hover {
    background: blue;
    transition: .5s;
    border-radius: 10px;
}

.banner-img {
    height: 100%; /* Ajusta la altura de la imagen para ocupar toda la barra de navegación */
    max-width: 65%; /* Ajusta el ancho de la imagen para mantener la proporción */
    margin-right: 10px; /* Añade un margen derecho entre la imagen y los elementos de la lista */
}

/* ESTILOS CONTENIDO MAIN Y OTROS */

main {
    min-height: calc(97% - 100px); /* Ajusta el valor (100px) para que coincida con la suma de las alturas del encabezado y el pie de página */
    padding-top: 119px; /* Ajusta el relleno (padding) según tus necesidades */
    background-size: cover;
    background-position: center;
    width: 100%;
}

.section1 {
    padding: 30px;
    color: white;
    text-align: center;
    background-color:  rgba(237, 230, 149, 0.938);
    border: 2px solid black ;
    border-radius: 20px;
    margin: 50px;
    height: 100%;
}

.titulo1 {
    padding-bottom: 15px;
}

/* ESTILOS nosotros.html */

.section2 {
    padding: 30px;
    color: white;
    text-align: center;
    background-color: rgba(237, 230, 149, 0.938); /* Ajusta el color de fondo del elemento main según tus necesidades */
    border: 2px solid black ;
    border-radius: 20px;
    margin: 50px;
    height: 100%;
}

.column1 {
    display: flex;
}

.titulo3 {
    margin: 15px;
}

.underline {
    text-decoration: underline;
}

.justify {
    margin: 5px;
    color: black;
    text-align: left;
    margin: 30px;
}

.column2 {
    flex-wrap: wrap;
    width: 33.33%;
    float: left;
    padding: 10px;
    box-sizing: border-box;
}

main img {
    width: 20%;
    border: 2px solid #333;
    background-color: #333;
    border-radius: 45px;
}

div iframe {
    border: 2px solid black;
    border-radius: 15px;
}

/* ESTILOS metodosdepago.html */



/* ESTILOS contacto.html*/

.column1-contacto {
    display: flex;
}

.column2-contacto {
    flex-wrap: wrap;
    width: 50%;
    float: left;
    padding: 10px;
    box-sizing: border-box;
}

.section3 {
    padding: 30px;
    color: white;
    text-align: center;
    background-color:  rgba(237, 230, 149, 0.938);
    border: 2px solid black ;
    border-radius: 20px;
    margin: 50px;
    height: 100%;
}

.titulo4 {
    text-align: center;
    color: black;
}

i {
    font-size: 200%;
}

/* ESTILOS productos.html */

.carrousel {
    max-height: 600px; /* Ajusta el tamaño máximo de altura de la imagen */
    max-width: 600px;
    padding-bottom: 17px;
}

.titulo5 {
    color: black;
}

/* ESTILOS FOOTER */

footer {
    background-color: #333;
    color: #fff;
    padding: 30px;
    text-align: justify;
}

.titulo-footer {
    text-align: center;
}

.footer-content {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
  
.footer-column {
    width: 30%;
    margin-bottom: 20px;
}
  
.footer-column h3 {
    font-size: 20px;
    margin-bottom: 15px;
}
  
.footer-column ul {
    list-style: none;
    padding: 0;
}
  
.footer-column ul li {
    margin-bottom: 10px;
}
  
.footer-column ul li a {
    color: white;
}
  
.social-media li {
    display: inline-block;
    margin-right: 10px;
}
  
.social-media li a {
    color: white;
    font-size: 20px;
}
  
.footer-bottom {
    text-align: center;
    margin-top: 30px;
}

.footer-bottom p {
    margin: 0;
}