/* ESTILOS GENERALES */

* {
    font-family: 'Kaisei Tokumin', serif;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* ESTILOS BARRA DE NAVEGACIÓN */
  
nav {
    background-color: #333;
    color: white;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 999;
    position: fixed;
}
  
nav .enlace {
    display: flex;
    align-items: center;
    margin-right: auto; /* Alinea la imagen a la izquierda del todo */
    padding-left: 20px; /* Ajusta el espacio entre la imagen y los elementos de la lista */
    width: 12%;
}
  
nav .ul1 {
    display: flex;
    align-items: center;
}
  
nav .ul1 li {
    display: inline-block;
    margin: 0 5px;
}
  
nav .ul1 li a {
    color: white;
    font-size: 16px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
}
  
nav .ul1 li a.active, nav .ul1 li a:hover {
    background: blue;
    transition: .5s;
    border-radius: 10px;
}

.banner-img {
    height: 100%; /* Ajusta la altura de la imagen para ocupar toda la barra de navegación */
    max-width: 100%; /* Ajusta el ancho de la imagen para mantener la proporción */
    margin-right: 10px; /* Añade un margen derecho entre la imagen y los elementos de la lista */
}

/* ESTILOS CONTENIDO MAIN Y OTROS */

main {
    min-height: calc(97% - 100px); /* Ajusta el valor (100px) para que coincida con la suma de las alturas del encabezado y el pie de página */
    padding-top: 119px; /* Ajusta el relleno (padding) según tus necesidades */
    background-color: rgb(34, 34, 82);
    background-size: cover;
    background-position: center;
    width: 100%;
    background-image: url(./img/fondo.jpg);
}

.section1 {
    padding: 30px;
    color: white;
    text-align: center;
    background-color: rgba(230, 218, 90, 0.89);
    border: 2px solid black ;
    border-radius: 20px;
    margin: 50px;
    height: 100%;
}

.titulo1 {
    padding-bottom: 15px;
}

/* ESTILOS quienessomos.html */

.section2 {
    padding: 30px;
    color: white;
    text-align: center;
    background-color: rgba(230, 218, 90, 0.938); /* Ajusta el color de fondo del elemento main según tus necesidades */
    border: 2px solid black ;
    border-radius: 20px;
    margin: 50px;
    height: 100%;
}

.column1 {
    display: flex;
}

.column2 {
    flex-wrap: wrap;
    width: 33.33%;
    float: left;
    padding: 10px;
    box-sizing: border-box;
}

/* ESTILOS FOOTER */

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    padding: 30px 0;
}
  
.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
  
.footer-column {
    width: 30%;
    margin-bottom: 30px;
}
  
.footer-column h3 {
    font-size: 20px;
    margin-bottom: 15px;
}
  
.footer-column ul {
    list-style: none;
    padding: 0;
}
  
.footer-column ul li {
    margin-bottom: 10px;
}
  
.footer-column ul li a {
    color: white;
}
  
.social-media li {
    display: inline-block;
    margin-right: 10px;
}
  
.social-media li a {
    color: white;
    font-size: 20px;
}
  
.footer-bottom {
    text-align: center;
    margin-top: 30px;
}

.footer-bottom p {
    margin: 0;
}

/* ESTILOS productos.html */
  
.header-productos {
    background-color: #333;
    color: #fff;
    padding: 20px;
}
  
.header-productos h1 {
    margin: 0;
}
  
.search-form {
    margin-top: 20px;
    align-items: center;
}
  
.search-form input {
    padding: 10px;
    font-size: 16px;
}
  
.search-form button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
}

.main-productos {
    min-height: calc(97% - 100px); /* Ajusta el valor (100px) para que coincida con la suma de las alturas del encabezado y el pie de página */
    padding-top: 119px; /* Ajusta el relleno (padding) según tus necesidades */
    background-color: rgb(34, 34, 82);
    background-size: cover;
    background-position: center;
    width: 100%;
    background-image: url(./img/fondo.jpg);
}
  
.carousel {
    color: black;
}
  
.product-list {
    color: black;
}
  
.footer-productos {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}